*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548685;
    text-align: center;
}
#heading{
    font-size: 7vmin;
    color: #75351e;
    font-weight: bold;
}
.container{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 14vmin;
    width: 14vmin;
    background-color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 10vmin;
    color: #471715;
    cursor: pointer;
}

#reset{
    padding: 0.5rem;
    font-size: 4vmin;
    font-weight: bold;
    border-radius: 0.7rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

.msg-container{
    height: 15vmin;
}

#msg{
    color: white;
    font-size: 5vmin;
}

.hide{
    display: none;
}